@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Next Art";
    src:
        local("Next Art"), 
        url("../fonts/NEXTART_Bold.otf") format("opentype");
}
img{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:  all 0.3s ease;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

button{
    cursor: pointer;
    font-family: "Nunito Sans", serif;
}

body{
    background-color: #fff;
    font-family: "Nunito Sans", serif;
}

p{
    font-family: "Nunito Sans", serif !important;
}

[class*="container"]{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    color: #18121E;
    margin-bottom: 40px;
}

.sub__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    color: #F2BE22;
    margin-bottom: 8px;
}

.btns{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn{
    padding: 16px 36px;
    background-color: #1A3E3E;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FDFDFD;
    border-radius: 4px;
}

.center{
    text-align: center;
}


/* HEADER */

.header {
    background-image: url("../img/bg-first.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 160px;
}

.header__container {
    padding: 16px 0;
    display: flex;
    align-items: center;
    margin-bottom: 400px;
}

.header__img{
    margin-right: auto;
}

.header__list {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header__item:not(:last-child) {
    margin-right: 24px;
}
.header__text {
    font-size: 18px;
    font-weight: 600;
    color: #FDFDFD;
}

.section__content{
    padding: 80px 0 100px 0;
}

/* /HEADER */

/* SEARCH */

.search__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 2%;
    color: #FDFDFD;
    margin-bottom: 20px;
    font-family: "Next Art", serif;
}
.search__block {
    padding: 40px;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.search__form {
    display: flex;
    align-items: self-start;
}

.search__list {
    cursor: pointer;
    width: 270px;
    padding: 14px 16px;
    margin-right: 24px;
    border: 1px solid #FDFDFD;
    color: #FDFDFD;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    background: none;

}
.search__text {
    font-size: 14px;
    font-weight: 400;
    color: #FDFDFD;
}
.search__btn {
    color: #1A3E3E;
    background-color: #FDFDFD;
    font-weight: 700;
}

/* /SEARCH */

/* GUIDE */

.guide {
    padding: 100px 0;
}
.guide__container {
    display: flex;
    justify-content: flex-end;
}
.guide__block {
    position: relative;
}
.guide__content{
    margin-left: auto;
    padding: 64px 0;
    max-width: 580px;
    width: 100%;
}
.guide__img {
    position: absolute;
}
.guide__img-back{
    top: 0;
    left: 0;
    z-index: -1;
}
.guide__img-front{
    top: 125px;
    left: 130px;
    z-index: 2;
}

.guide__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 27px;
}

/* /GUIDE */

/* TOUR */

.tour {
    background-color: #F3F5F4;
}
.tour__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tour__blcok {
    max-width: 580px;
    width: 100%;
}
.tour__lead {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 27px;
}
.tour__item {
    padding-left: 65px;
    margin-bottom: 40px;
    background-image: url("../img/team.png");
    background-size: 50px 50px;
    background-position: left center;
    background-repeat: no-repeat;
}

.tour__security{
    background-image: url("../img/save.png");
}

.tour__price{
    background-image: url("../img/price.png");
}

.tour__sub-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px; 
}
.tour__text {
    max-width: 514px;
    font-size: 14px;
    font-weight: 400;   
}

.tour__imgs {
    width: fit-content;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 10px;
}

/* /TOUR */

/* PRICE */

.price__cards {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    column-gap: 20px;
    
}
.price__card {
    position: relative;
    max-width: 380px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.rating {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: 4px 0 0 4px;
    padding: 4px 8px;
    background-color: rgba(253, 253, 253, 0.4);
    width: fit-content;
}

.rating__img {
    margin-right: 8px;
}

.price__item {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    border-radius: 0 0 32px 32px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    max-width: 380px;
    width: 100%;
}
.price__sub-item {
    font-weight: 700;
    font-size: 14px;
   
}
.price__sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;    
    color: #FDFDFD;
}
.price__text {
    font-weight: 400;
    font-size: 14px;
    color: #FDFDFD;
}
.price__number {
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 20px;
    color: #FDFDFD;
    background-color: rgba(255, 255, 255, 0.3);
}

/* /PRICE */

/* BLOG */

.blog{
    background-color: #F3F5F4;
}
.blog__cards {
    display: grid;
    grid-template-columns: 580px 580px;
    column-gap: 20px;
    row-gap: 24px;
}
.blog__card {
    display: flex;
    align-items: center;
    background-color: #FDFDFD;
    padding: 16px;
    border-radius: 10px;
}
.blog__img {
    margin-right: 24px;
}
.blog__content {
    padding: 16px 0;
}
.blog__sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;    
    color: #18121E;
    margin-bottom: 24px;
}
.blog__text {
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    color: #18121E;
}
.blog__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__lend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}
.blog__data {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;    
    color: #F2BE22;
}
.blog__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;    
    color: #1A3E3E;
}

/* /BLOG */



/* FEELING */

.feeling__block {
    display: grid;
    grid-template-areas: 
                            "a a b c"
                            "d e e v";
    gap: 20px;
}
.feeling__img1 {
    grid-area: a;    
}
.feeling__img2 {
    grid-area: b;
}
.feeling__img3 {
    grid-area: c;
}
.feeling__img4 {
    grid-area: d;    
    
}
.feeling__img5 {
    grid-area: e;
}
.feeling__img6 {
    grid-area: v;
}

.last{
    margin-bottom: 200px;
}

/* /FEELING */

/* CONTACTS */

.contacts{
    position: relative;
}

.contacts__container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px 100px;
    box-shadow: 0 0 15px #18121E1F;
    border-radius: 6px;
    background-color: #FDFDFD;
}
.contacts__block {

}
.sub__title {
    font-size: 18px;
}
.contacts__title {
    font-size: 26px;
    max-width: 380px;
    width: 100%;
}

.contacts__wrapper-form{
    max-width: 536px;
    width: 100%;
}

.contacts__form{
    margin-bottom: 8px;
}

.contacts__label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;    
    color: #18121E;
    margin-bottom: 8px;
}
.contacts__input {
    border: none;
    background-color: #F3F5F4;
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 90px 12px 16px;
    margin-right: 16px;
}

.contacts__btn{
    padding: 12px 24px;
}

.contacts__text, .contacts__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #18121E;
}
.contacts__link {
  text-decoration: underline;

}

/* /CONTACTS */

/* FOOTER */

.footer {
    background-color: #1A3E3E;
}
.footer__container {
    display: flex;
    padding: 180px 0 80px 0;
}
.footer__block:first-child {
    max-width: 450px;
    width: 100%;
    margin-right: 20px;
}

.footer__block:nth-child(2){
    margin-right: 120px;
} 
.footer__title {
    font-size: 20px;
    font-weight: 700;
    color: #F3F5F4;
    line-height: 24px;
    margin-bottom: 16px;
}
.footer__text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    margin-bottom: 80px;
}
.footer__links{
    display: flex;
}
.footer__tel, 
.footer__mail {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 18px;
    margin-bottom: 32px;
    text-decoration: underline;
}
.footer__mail{
    margin-right: 24px;
}
.footer__media {
    display: flex;
}
.footer__media-link {
    margin-right: 20px;
}
.footer__sub-title {
    font-weight: 700;
    color: #F3F5F4;
    line-height: 20px;
    margin-bottom: 20px;
}

.footer__item {
    padding-left: 16px;
    margin-bottom: 16px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 6px 10px;
    background-position: 0% 50% ;
    max-width: 300px;
    width: 100%;
}

.footer__arrow{
    background-position: 0% 15% ;
}

.footer__link {
    font-weight: 400;
    color: #FDFDFD;
    line-height: 14px;
   
}

.footer__new{
    padding: 2px 4px;
    font-weight: 700;
    color: #1A3E3E;
    font-size: 12px;
    background-color: #fff;
    margin-left: 4px;
    border-radius: 4px;
}

.copyright {
    padding: 24px 0;
    background-color: #18121E;
}

.copyright__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright__text,
.copyright__link  {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
}
.copyright__link {
    text-decoration: underline;
}

/* /FOOTER */
